<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
</head>

<body>
    <br />
    <div class="container" id='app'>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" @keydown="keymonitor">
                <div class="form-group">
                    <label for="nameZh">Chinese Name</label>
                    <input type class="form-control" id="nameZh" v-model="me.nameZh" />
                </div>
                <div class="form-group">
                    <label for="nameEn">English Name</label>
                    <the-mask class="form-control" id="nameEn" v-model="me.nameEn" :mask="'SSSSSSSS'" />
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <the-mask class="form-control" id="birthday" v-model="me.birthday" placeholder="yyyy/MM/dd"
                              :mask="['##/##/##', '####/##/##']" />
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <the-mask class="form-control" id="age" v-model="me.age" placeholder="0-999" :mask="'###'" />
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <the-mask class="form-control" id="phone" v-model="me.phone" placeholder="ex. 0922123456"
                        :mask="'####-###-###'" />
                </div>
                <div>{{ keys }}</div>
                <div v-show="me.nameEn && me.birthday && me.phone">
                    You are {{me.nameEn}} and born on {{me.birthday}}. Contact cell-phone number is {{me.phone}}.
                </div>

            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

</body>
<script src="./demo.js"></script>

</html>